<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div>
                    <p class="my-0 logo-font font-weight-bold nav-link text-black mr-5 dark-font">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="small logo-font font-weight-bold nav-link text-black mr-5">
            <hr class="smallhr">
        </li>
        <!--<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>-->
        <li><a href="{% url 'products' %}" class="dropdown-submenu logo-font font-weight-bold nav-link text-black mr-5 dark-font">All Products</a></li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="systems-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC and Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="systems-link">
                <a href="{% url 'products' %}?category=pc" class="dropdown-item">PC's</a>
                <a href="{% url 'products' %}?category=laptop" class="dropdown-item">Laptop's</a>
                <a href="{% url 'products' %}?category=laptop,pc" class="dropdown-item">All PC'S and Laptop's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hardware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hardware-link">
                <a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=keyboards" class="dropdown-item">Keyboards</a>
                <a href="{% url 'products' %}?category=mouse" class="dropdown-item">Mouse</a>
                <a href="{% url 'products' %}?category=monitors" class="dropdown-item">Monitors</a>
                <a href="{% url 'products' %}?category=cables" class="dropdown-item">Cables</a>

                <a href="{% url 'products' %}?category=speakers,headphones,keyboards,mouse,monitors,cables" class="dropdown-item">All Hardware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="large logo-font font-weight-bold nav-link text-black mr-5">
            <p>|</p>
        </li>
        <li class="small logo-font font-weight-bold nav-link text-black mr-5">
            <hr class="smallhr">
        </li>
        <li>
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black dark-font">Contact Us</a>
        </li>
    </ul>
</div>