{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Desktops, laptops and all the hardware you want can be found here. Free delivery on orders above $50.">
    <meta name="keywords" content="pc shop, pc computers, computers, laptops, pc, desktop, monitor, speakers, pc speakers, gaming headsets, pc headphones, wireless mouse, wireless keyboard, pc mouse, keyboards, computer cabels, pc cables, pc shop netherlands, pc shop arnhem">
    <meta name="author" content="Nikola Vukomanovic">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/0841df7e2e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>NVA Computers {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <script src="{% static 'js/darkmode_trigger.js' %}"></script>
    {% if navbar != False %}
    <header class="container-fluid fixed-top p-0">
        <div id="topnav" class="row g-0 bg-white py-lg-3 d-none d-lg-flex">
            <div class="col-12 col-lg-2 my-auto pt-1 text-center text-lg-left">
                <a href="{% url 'home' %}" class=" main-logo-link">
                    <h2 class="logo-font font-weight-bold text-black logo p-2"><strong>NVA</strong><strong class="capitalize">Computers</strong></h2>
                </a>
            </div>
            <!-- DARKMODE START -->
            <div class="col-12 col-lg-1">
                <div class="darkmode darkmode_disabled lightmode-btt" onclick="setlightmode(event);"><i class="fas fa-sun  fa-lg"></i></div>
                <div class="darkmode light darkmode_enabled darkmode-btt" onclick="setdarkmode(event);"><i class="fas fa-moon fa-lg"></i></div>
            </div>

            <!-- DARKMODE END -->
            <!-- DROPDOWN START -->
            <div class="dropdown dark-font col-12 col-lg-2 w-25 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a id="dropdownMenu" role="button" data-toggle="dropdown" class="btn logo-font font-weight-bold nav-link text-black mr-5 dark">
                    Categories <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level dark" role="menu" aria-labelledby="dropdownMenu">
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#" class="logo-font font-weight-bold nav-link text-black mr-5 submenu_handling" id="systems-link1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PC and Laptopss</a>
                        <ul class="dropdown-menu border-0 submenu_container" aria-labelledby="systems-link1">
                            <li><a class="dropdown-item" tabindex="-1" href="{% url 'products' %}?category=pc">PC's</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=laptop">Laptop's</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=laptop,pc">All PC'S and Laptop's</a></li>
                        </ul>

                    </li>

                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#" class="logo-font font-weight-bold nav-link text-black mr-5 submenu_handling" id="hardware-link1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hardware</a>
                        <ul class="dropdown-menu border-0 submenu_container" aria-labelledby="hardware-link1">
                            <li><a class="dropdown-item" tabindex="-1" href="{% url 'products' %}?category=speakers">Speakers</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=headphones">Headphones</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=keyboards">Keyboards</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=mouse">Mouse</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=monitors">Monitors</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=cables">Cables</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=speakers,headphones,keyboards,mouse,monitors,cables">All Hardware</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#" class="logo-font font-weight-bold nav-link text-black mr-5 submenu_handling" id="specials-link1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Special Offers</a>
                        <ul class="dropdown-menu border-0 submenu_container" aria-labelledby="specials-link1">
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals">New Arrivals</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals,deals,clearance">All Specials</a></li>
                        </ul>
                    </li>
                    <li>
                        <hr class="smallhr">
                    </li>
                    <li><a href="{% url 'products' %}" class="dropdown-submenu logo-font font-weight-bold nav-link text-black mr-5">All Products</a></li>
                </ul>
            </div>

            <!-- DROPDOWN END -->

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0 yellow" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search ldark-font"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black" href="#" id="user-options-mob" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg text-black dark-font"></i></div>
                                <p class="text-black my-0 dark-font">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options-mob">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg text-black dark-font"></i></div>
                                <p class="my-0 text-black dark-font">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row bg-white d-lg-none mob-dark">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-black dark-font"><i class="fas fa-solid fa-bars"></i></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class=" g-0 text-center">
            <div class="col text-black">
                <h4 class="logo-font">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>
    {% endif %}


    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="mt-5 mob-scr home-p">
        {% block content %}
        {% endblock %}
    </div>
    {% if footer != False %}
    <footer class="row g-0 pt-3 m-0">
        <div class="col-sm-12 col-lg-6 col-md-6 d-none d-md-block foot p-0">
            <h3 class="logo-font font-weight-bold text-black">Categories</h3>
            <hr class="w-75 mb-1">
            <div class="row g-0">
                <ul class="col-lg-4 list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-black">PC's and Laptops</h5>
                    </li>
                    <li><a tabindex="-1" href="{% url 'products' %}?category=pc" class="dropdown-item">PC's</a></li>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=laptop" class="dropdown-item">Laptop's</a>
                </ul>
                <ul class="col-lg-4 list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-black">Hardware</h5>
                    </li>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=keyboards" class="dropdown-item">Keyboards</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=mouse" class="dropdown-item">Mouse</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=monitors" class="dropdown-item">Monitors</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=cables" class="dropdown-item">Cables</a>
                </ul>
                <ul class="col-lg-4 list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-black">Special Offers</h5>
                    </li>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                    <li class="dropdown-item"><a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-3 foot p-0">
            <div>
                <h3 class="logo-font font-weight-bold text-black">My Account</h3>
                <hr class="w-75 mb-1">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
            <button class="open-button" onclick="openForm()">Subscribe to our Newsletter!</button>
            <div class="form-popup" id="newsLetter">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=f4a39d1f864a013e3b4e06d4c&amp;id=00f89db7d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f4a39d1f864a013e3b4e06d4c_00f89db7d8" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    <input type="button" value="Cancel" name="cancel" class="cancel button" onclick="closeForm()">
                                    <p class="brandingLogo"><a href="http://eepurl.com/h5ujGP" title="Mailchimp - email marketing made easy and fun"><img alt="Mailchimp logo" src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-3 foot px-4 contact-box">
            <div class="askus-box">
                <h3 class="logo-font font-weight-bold text-black">Contact Us</h3>
                <hr class="w-75 mb-1">
                <p class="font-weight-bold text-black"> Do you have any questions? By clicking on the button below you may ask us anything that you need to know about shipping, products and/or any other related questions.</p>
                <h5><a href="{% url 'contact' %}" class="font-weight-bold text-black dropdown-item">Ask us anything!</a></h5>
            </div>
            <div class="facebook-box">
                <h5 class="text-black">Or contact us on</h5>
                <h4>
                    <a href="https://www.facebook.com/NVA-Computers-109270341834620/" target="_blank" rel="noopener" aria-label="go to out facebook page (opens in a new tab)">
                        <strong class="font-weight-bold facebook-btn">Facebook</strong>
                    </a>
                </h4>
            </div>
        </div>
    </footer>
    {% endif %}

    <script>
        $('.toast').toast('show');
    </script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script>
        function openForm() {
            document.getElementById("newsLetter").style.display = "block";
        }

        function closeForm() {
            document.getElementById("newsLetter").style.display = "none";
        }
    </script>
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% block postloadjs %}
    {% endblock %}


</body>

</html>